@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}
:root {
	--clr-white: white;
	--clr-navbtn-hover-bg: rgba(255, 255, 255, 0.3);

	--clr-primary-yellow: hsl(51, 100%, 49%);
	--clr-primary-soft-red: hsl(7, 99%, 70%);
	--clr-primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
	--clr-primary-dark-blue: hsl(198, 62%, 26%);
	--clr-primary-dark-moderate-cyan: hsl(168, 34%, 41%);
	--clr-primary-footer: hsl(168, 46%, 70%);
	
	--clr-text-700: hsl(232, 10%, 55%);
	--clr-text-900: hsl(212, 27%, 19%);
	--clr-text-grayish-blue: hsl(210, 4%, 67%);
	--clr-text-very-dark-grayish-blue: hsl(213, 9%, 39%);

	--transition-time: 200ms;

	scroll-behavior: smooth;
	font-size: 18px;
}

header {
	background-image: url(./images/desktop/image-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 9/5;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Fraunces", serif;
	font-weight: 900;
}
p {
	font-family: "Barlow", sans-serif;
	font-size: 1rem;
	line-height: 3ch;
}
a {
	font-family: "Barlow", sans-serif;
	font-size: 1rem;
	text-decoration: none;
}
a {
	transition: color var(--transition-time) ease-in-out, filter var(--transition-time) ease-in-out;
}
a::after {
	transition: filter var(--transition-time) ease-in-out;
}
img {
	max-width: 100%;
}

/* NAVBAR */
nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2em;
	margin-bottom: 4em;
}
#logo {
	margin-right: auto;
}
.nav-item {
	color: var(--clr-white);
	margin-left: 2em;
}
.nav-item--btn {
	font-family: "Fraunces", serif;
	font-weight: 700;
	color: var(--clr-text-900);
	background-color: var(--clr-white);
	padding: 1em 1.75em;
	border-radius: 2em;
}
.nav-item--btn:hover {
	color: var(--clr-white);
	background-color: var(--clr-navbtn-hover-bg);
	text-decoration: none;
}

/* HERO */
#hero {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#hero > h1 {
	font-size: 3rem;
	letter-spacing: .3ch;
	text-align: center;
	margin-bottom: 2em;
	color: var(--clr-white);
}

/* ABOUT */
#about {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.about__desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5em;
	padding: 7.5em
}
.about__desc > h2 {
	font-size: 2.25rem;
	color: var(--clr-text-900);
}
.about__desc > p {
	color: var(--clr-text-700);
}
.about__img {
	width: 100%;
}
.a-thick-u {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: "Fraunces", serif;
	font-weight: 900;
	font-size: .8rem;
	text-decoration: none;
	letter-spacing: .1ch;
	color: var(--clr-text-900);
	width: fit-content;

	padding-top:   .5em;
	padding-right: .5em;
	padding-left:  .5em;
}
.a-thick-u::after {
	content: "";
	position: relative; 	/* Make z-index work */
	width: 110%;
	height: .65em;
	border-radius: 1em;
	filter: opacity(0.25);
	transform: translateY(-80%);
	z-index: -1;
}
.a-thick-u:hover::after {
	filter: opacity(1);
}
.a-thick-u--yellow::after {
	background-color: var(--clr-primary-yellow);
}
.a-thick-u--soft-red::after {
	background-color: var(--clr-primary-soft-red);
}
#about__design {
	background-image: url(./images/desktop/image-graphic-design.jpg);
	color: var(--clr-primary-dark-desaturated-cyan);
}
#about__photography {
	background-image: url(./images/desktop/image-photography.jpg);
	color: var(--clr-primary-dark-blue)
}
.about__mission {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 5em;
	
	background-repeat: no-repeat;
	background-size: cover;
	aspect-ratio: 6/5;
}
.about__mission > h3 {
	font-size: 1.75rem;
	text-align: center;
	margin-bottom: 1em;
}
.about__mission > p {
	text-align: center;
	padding: 0 4em;
}

/* CLIENTS */
#clients {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 8em;
}
#clients > h4 {
	color: var(--clr-text-grayish-blue);
	font-size: 1.1rem;
	letter-spacing: .4ch;
	margin-bottom: 4em;
}
#clients > div {
	display: flex;
	justify-content: center;
	column-gap: 2em;
}
.clients__client {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 4em;
}
.clients__client > img {
	width: 4em;
	border-radius: 50%;
}
.clients__client > p {
	color: var(--clr-text-very-dark-grayish-blue);
}
.clients__client__signature > h4 {
	color: var(--clr-text-900);
	margin-bottom: .5em;
}
.clients__client__signature > p {
	font-size: .75rem;
	color: var(--clr-text-grayish-blue);
}

/* GALLERY */
#gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

/* FOOTER */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--clr-primary-footer);
}
footer > img {
	margin-top: 3em;
	margin-bottom: 2em;
}
#footer__links {
	display: grid; /* Not flex because middle link wasn't centered correctly */
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 3em;
}
#footer__links > a {
	color: var(--clr-primary-dark-moderate-cyan);
	text-align: right;
}
#footer__links > a:hover {
	color: var(--clr-white);
}
#footer__social {
	display: flex;
	align-items: center;
	column-gap: 1.5em;
	margin-top: 4em;
	margin-bottom: 3em;
}
#footer__social > a:hover {
	filter: brightness(0) invert(1);
}