@use "../variables" as v;
@use "../mixins" as m;

// ABOUT
#about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	@include m.breakpoint-down("about") {
		grid-template-columns: 1fr;
	}
}
.about__desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5em;
	padding: 7.5vw;

	@include m.breakpoint-down("about-padding") {
		padding: 3.5vw;
	}
	@include m.breakpoint-down("about") {
		align-items: center;
		text-align: center;
		padding-top: 4em;
		padding-bottom: 4em;
	}

	> h2 {
		font-size: 2.5rem;
		color: v.$clr-text-900;
		
		@include m.breakpoint-down("about-text") {
			font-size: 4.17vw;
		}
		@include m.breakpoint-down("about") {
			font-size: 2.5rem;
		}
	}
	> p {
		color: v.$clr-text-700;

		@include m.breakpoint-down("about-text") {
			font-size: 1.875vw;
		}
		@include m.breakpoint-down("about") {
			font-size: inherit;
		}
	}
}
.about__img {
	width: 100%;
}
.img-pc {
	display: block;
	@include m.breakpoint-down("about") {
		display: none;
	}
}
.img-mobile {
	display: none;
	@include m.breakpoint-down("about") {
		display: block;
	}
}

// MISSION
#about__design {
	background-image: url(/images/desktop/image-graphic-design.jpg);
	background-size: contain;
	color: v.$clr-primary-dark-desaturated-cyan;
	
	@include m.breakpoint-down("mission") {
		background-image: url(/images/mobile/image-graphic-design.jpg);
	}
}
#about__photography {
	background-image: url(/images/desktop/image-photography.jpg);
	color: v.$clr-primary-dark-blue;

	@include m.breakpoint-down("mission") {
		background-image: url(/images/mobile/image-photography.jpg);
	}
}
.about__mission {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 6/5;

	@include m.breakpoint-down("mission") {
		aspect-ratio: 5/8;
	}

	> h3 {
		font-size: 2rem;
		text-align: center;
		margin-bottom: 2vw;

		@include m.breakpoint-down("mission-text") {
			font-size: 2.91vw;
		}
		@include m.breakpoint-down("about") {
			font-size: 2rem;
		}
		@include m.breakpoint-down("mission") {
			margin-bottom: .8em;
		}
	}
	> p {
		text-align: center;
		padding: 0 10vw;
		margin-bottom: 2.67vw;

		@include m.breakpoint-down("mission-text") {
			font-size: 1.64vw;
		}
		@include m.breakpoint-down("about") {
			font-size: inherit;
			margin-bottom: 5%;
		}
		@include m.breakpoint-down("mission") {
			margin-bottom: 3em;
		}
	}
}
