@use "../variables" as v;

/* CLIENTS */
#clients {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 8em;

	> h4 {
		color: v.$clr-text-grayish-blue;
		font-size: 1.25rem;
		letter-spacing: 0.4ch;
		margin-bottom: 4em;
	}
	> div {
		display: flex;
		justify-content: center;
		gap: 2em;
	}
}
.clients__client {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4em;

	> img {
		width: 5em;
		border-radius: 50%;
	}
	> p {
		color: v.$clr-text-very-dark-grayish-blue;
	}

	&__signature > h4 {
		font-size: 1.125rem;
		color: v.$clr-text-900;
		margin-bottom: 0.5em;
	}
	&__signature > p {
		font-size: 0.85rem;
		color: v.$clr-text-grayish-blue;
	}
}
