@use "../variables" as v;

// FOOTER
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: v.$clr-primary-footer;

	> img {
		margin-top: 3em;
		margin-bottom: 2em;
	}
}
#footer__links {
	display: grid; // Not flex because middle link wasn't centering correctly
	grid-template-columns: 1fr 1fr 1fr;
	gap: 3em;

	> a {
		color: v.$clr-primary-dark-moderate-cyan;
		text-align: right;
	}
	> a:hover {
		color: v.$clr-white;
	}
}
#footer__social {
	display: flex;
	align-items: center;
	gap: 1.5em;
	margin-top: 4em;
	margin-bottom: 3em;

	> a:hover {
		filter: brightness(0) invert(1);
	}
}
